jinja2
flask
redis
git+git://github.com/shon/redisco.git
colander
greenlet
gevent
turbomail
html2text
cssutils
# cssprefixer is not installable atm by package name
http://pypi.python.org/packages/source/c/cssprefixer/cssprefixer-1.3.tar.gz#md5=28c1b425bc7f8a5a18cd307d4b6ed4e6
shpaml
