{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('Dashboard', '/dashboard'), ('Feeds', '/feeds'), ('Events', '/events')]) }}
{% endblock %}

{% block content %}
<!--<img src="{{ pubroot }}/images/chart.png" width="220" height="75" alt="Revenue (Months)" />
 <img src="http://chart.apis.google.com/chart?chf=a,s,000000|bg,s,67676700|c,s,67676700&chxl=0:|2000|2500|3000|3500&chxr=0,-5,100&chxs=0,000000,11.5,0,l,000000&chxt=r&chs=220x75&cht=ls&chco=DA3B15,F7A10A,4582E7&chds=0,3000,-5,3000&chd=t2:1900,2100,2700,3000,2500,2700|1800,2100,2600,3000,2500,2900|24.59,27.869,31.148,29.508,24.59,21.311,26.23,39.344,36.066,27.869,22.951,26.23,31.148,37.705,39.344,27.869,26.23,-1&chdl=Invoiced|Uninvoiced&chls=1|1|1&chma=|5&chtt=Revenue+(Months)&chts=000000,11.5" width="220" height="75" alt="Revenue (Months)" /> 
<br/>
<br/>
 -->

<div class="dp45">
<div class="pr2 dp95 rc box-shadow feeds">
    <h5 class="mt1 feedbox-title tl">Requests</h5>
    <div class="p1">
    <ul>
        <li>Approve membership: <a>Yes</a>|<a>No</a></li>
        <li>Approve membership: <a>Yes</a>|<a>No</a></li>
    </ul>
    <p>Approve membership: <a>Yes</a>|<a>No</a></p>
    <p>Approve membership: <a>Yes</a>|<a>No</a></p>
    <p>Approve membership: <a>Yes</a>|<a>No</a></p>
    </div>
</div>

<div class="pr2 dp95 rc box-shadow feeds">
    <div class="fluid">
        <p id="events-area">
            <div class="datebox box-shadow">
                <span class="datebox-year">Mar 2011</span><h2 class="datebox-date">1</h2><small>Friday</small>
            </div>
            <br/>
            <c id="mustache-feed"/>
        </p>
    </div>
</div>
</div>
<script>
{% raw %}
var template = '\
{{#events}} \
<div> \
    <div class="dp95"> \
        <c class="highlight"><c class="event-start"/>{{start}}</c>-<c class="event-end">{{end}}</c></c> <c class="engrave">{{name}}</c> at <a>{{resource_name}}</a> {{attending}} attending <a>..</a> \
    </div> \
    <div class="dp5 red"><a>x</a></div> \
    <div class="feed-item hp tr"> \
        {{#tags}} \
        <c class="event-tag tag">{{.}}</c> \
        {{/tags}} \
    </div> \
    <div class="clear"/> \
</div> \
{{/events}} \
';
var template = '\
{{#events}} \
<p> \
<c class="highlight"><c class="event-start"/>{{start}}</c>-<c class="event-end">{{end}}</c></c> <c class="engrave">{{name}}</c> at <a>{{resource_name}}</a> {{attending}} attending <a>..</a> <br/>\
<span class="tr"> \
{{#tags}} \
<c class="event-tag tag">{{.}}</c> \
{{/tags}} \
</span> \
</p> \
{{/events}} \
';
{% endraw %}

function show_loading () {
    $('comm-status').set('text', 'loading..');
};
function hide_loading () {
    $('comm-status').set('text', '');
};
function formattime24to12(hhmm) {
    var hh = hhmm.slice(0,-2).toInt();
    var mm = hhmm.slice(-2);
    if (hh <= 12) {
        var out = hh + '.' +  mm + 'am';
    } else {
        var out = hh +  '.' + mm + 'pm';
    };
    return out;
};
function load_data(data, data_text) {

    var html = Mustache.to_html(template, data.data);
    $('mustache-feed').set('html', html);
    $$('.event-start').each(function (tag) { tag.set('text', formattime24to12(tag.get('text'))); });
    $$('.event-end').each(function (tag) { tag.set('text', formattime24to12(tag.get('text'))); });
    var known_tags = ['bump_index'];
    $$('.event-tag').each(function (tag) { 
        var tag_text = tag.get('text');
        if (! known_tags.contains( tag_text )) {
            known_tags.push(tag_text);
        };
    });
    $$('.event-tag').each(function (tag) { 
        var tag_index = known_tags.indexOf(tag.get('text'));
        tag.set('class', 'event-tag tag tag-' + tag_index);
    });
};


var req = new Request.JSON({
    // url: "/api/0.1/login", // To be removed
    url: '/app/dashboard',
    onRequest: show_loading,
    onComplete: hide_loading,
    onSuccess: load_data 
});
req.send(); //{username: '', password: ''});

</script>
    <div class="pl1 dp40 tc rc box-shadow feeds">
        <h5 class="tc mt1 feedbox-title">Recent Activities</h5>
        <br/>
        <div class="feed-date"> Friday, March 5 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>New member <a>Nils Toedtmann</a> joined</li>
                <li>Invoice no. <a>130005977</a> is paid</li>
            </ul>
            </span>
            </c>
        </div>
        <div class="feed-date"> Tuesday, March 2 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>Invoice <a>130006733</a> and 50 more invoices are generated</li>
                <li>New member <a>Nils Toedtmann</a> joined</li>
                <li>Invoice no. <a>130005977</a> is paid</li>
            </ul>
            </span>
            </c>
        </div>
        <div class="clear"/>
       
        <div class="feed-date"> Monday, March 1 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>Invoice <a>130006733</a> and 50 more invoices are generated</li>
                <li>VAT for resource <a>GlassHouse</a> is changed to 19%</li>
            </ul>
            </c>
        </div>
        <div class="clear"/>

    </div>
</div>

{% endblock %}
