{% extends "layout.html" %}

{% block tabs %}
{% endblock %}

{% block content %}

<div class="dp45">

    <div class="pr2 dp95 rc box-shadow feeds">
        <div class="fluid">
            <p id="events-area">
                <div class="datebox box-shadow">
                    <span class="datebox-year">Mar 2011</span><h2 class="datebox-date">1</h2><small>Friday</small>
                </div>
                <br/>
                <c id="mustache-feed"/>
            </p>
        </div>
    </div>
</div>

<script>
{% raw %}
var template = '\
{{#events}} \
<p> \
<c class="highlight"><c class="event-start"/>{{start}}</c>-<c class="event-end">{{end}}</c></c> <c class="engrave">{{name}}</c> at <a>{{resource_name}}</a> {{attending}} attending <a>..</a> <br/>\
<span class="tr"> \
{{#tags}} \
<c class="event-tag tag">{{.}}</c> \
{{/tags}} \
</span> \
</p> \
{{/events}} \
';

var requests_template = '\
{{#requests}} \
    <li id="req-{{id}}"> \
        <span> {{description}} </span> \
        <span class="ml2"><a class="req-action-link" id="action_yes-{{id}}">Approve</a> | <a id="action_no-{{id}}">Reject</a> </span> \
        <span class="tr highlight confirm_approval" id="confirm_approval-{{id}}">Sure? <a id=approve_{{id}}>Yes</a>|<a id="rc_cancel-{{id}}">Cancel</a></span> \
    </li> \
{{/requests}} \
';
{% endraw %}

function act_on_request() {
    var [action, req_id] = this.get('id').split('-');
    function on_act_success() {
        var req = $('req-' + req_id);
        req.set('html', 'Success');
    };
    var req = new JSONRequest({
        url: '/api/0.1/requests/' + req_id,
        // onRequest: show_loading,
        // onComplete: hide_loading,
        on_success: on_act_success
    });
    var mod_data = {status: 1};
    req.json_send({mod_data:mod_data}); 
};
function load_requests(data, data_text) {
    var requests_box = $('requests_box');
    if (data.length!=0) {
        data = {requests: data};
        var html = Mustache.to_html(requests_template, data);
        requests_box.set('html', html);
        $$('.req-action-link').addEvent('click', function() {
            var req_id = this.get('id').split('-')[1];
            var confirm_approval = $('confirm_approval-' + req_id);
            confirm_approval.addEvent('click', act_on_request);
            confirm_approval.show();
        });
    } else {
        requests_box.hide();
    };
    $$('.confirm_approval').hide();
};
var req = new JSONRequest({
    url: '/api/0.1/requests/forme',
    // onRequest: show_loading,
    // onComplete: hide_loading,
    on_success: load_requests
});
req.send(); //{username: '', password: ''});

function show_loading () {
    $('comm-status').set('text', 'loading..');
};
function hide_loading () {
    $('comm-status').set('text', '');
};
function formattime24to12(hhmm) {
    var hh = hhmm.slice(0,-2).toInt();
    var mm = hhmm.slice(-2);
    if (hh <= 12) {
        var out = hh + '.' +  mm + 'am';
    } else {
        var out = hh +  '.' + mm + 'pm';
    };
    return out;
};
function load_data(data, data_text) {

    var html = Mustache.to_html(template, data.data);
    $('mustache-feed').set('html', html);
    $$('.event-start').each(function (tag) { tag.set('text', formattime24to12(tag.get('text'))); });
    $$('.event-end').each(function (tag) { tag.set('text', formattime24to12(tag.get('text'))); });
    var known_tags = ['bump_index'];
    $$('.event-tag').each(function (tag) { 
        var tag_text = tag.get('text');
        if (! known_tags.contains( tag_text )) {
            known_tags.push(tag_text);
        };
    });
    $$('.event-tag').each(function (tag) { 
        var tag_index = known_tags.indexOf(tag.get('text'));
        tag.set('class', 'event-tag tag tag-' + tag_index);
    });
};


var req = new Request.JSON({
    // url: "/api/0.1/login", // To be removed
    url: '/app/dashboard',
    onRequest: show_loading,
    onComplete: hide_loading,
    onSuccess: load_data 
});
req.send(); //{username: '', password: ''});

</script>
<div class="pl1 dp40">
    <div class="pr2 dp95 rc box-shadow feeds">
        <h5 class="mt1 feedbox-title tl">Requests</h5>
        <div class="p1 tl">
        <br/>
        <ul id="requests_box">
        </ul>
        </div>
    </div>

    <div class="pr2 dp95 rc box-shadow feeds">
        <h5 class="tc mt1 feedbox-title">Recent Activities</h5>
        <br/>
        <div class="feed-date"> Friday, March 5 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>New member <a>Nils Toedtmann</a> joined</li>
                <li>Invoice no. <a>130005977</a> is paid</li>
            </ul>
            </span>
            </c>
        </div>
        <div class="feed-date"> Tuesday, March 2 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>Invoice <a>130006733</a> and 50 more invoices are generated</li>
                <li>New member <a>Nils Toedtmann</a> joined</li>
                <li>Invoice no. <a>130005977</a> is paid</li>
            </ul>
            </span>
            </c>
        </div>
        <div class="clear"/>
       
        <div class="feed-date"> Monday, March 1 </div>
        <br/>
        <br/>
        <div class="engrave">
            <c class="tl">
            <ul>
                <li>Invoice <a>130006733</a> and 50 more invoices are generated</li>
                <li>VAT for resource <a>GlassHouse</a> is changed to 19%</li>
            </ul>
            </c>
        </div>

    </div>
    <div class="clear"/>
</div>

{% endblock %}
