<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'js.html' %}
    {% include 'style.html' %}
    <div id="style">{% block style %}{% endblock %}</div>
</head>
<body>



    <div class="main tc">
        <div class="hp tl">
            {% include 'topbar.html' %}
        </div>
        <div class="pl1 pr1 dl10">
            {% include 'nav.html' %}
        </div>
        <div class="pl2 ml2 mt3 pt5">
            <div class="mt2">
                {% block tabs %}{% endblock %}
                <br/>
            </div>
            <div class="mt1">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
    {% include 'footer.html' %}
</html>
