<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'js.html' %}
    {% include 'style.html' %}
    <div id="style">{% block style %}{% endblock %}</div>
</head>
<body>



    <div class="main">
        <div class="hp">
            {% include 'topbar.html' %}
        </div>
        <div class="pl1 pr1 dl10">
            {% include 'nav.html' %}
        </div>
        <div class="pl2 pt5">
            <div class="mt3">
		&nbsp;<br/><br/>
                {% block tabs %}{% endblock %}
		</div>
            <br/>
            </div>
            <div class="mt3">
            <br/>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
    {% include 'footer.html' %}
</html>
