<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'js.essential.html' %}
    {% include 'style.html' %}
    <div id="style">{% block style %}{% endblock %}</div>
</head>
<body>

{% import 'macros.html' as macros %}

<!-- <div class="page hp tl box-1 p2"> -->
<div class="page tl ml2 fluid">
    <div class="dl40 mt2 tr p2 about-box ">
    <img src="{{ pubroot }}/images/cow_bath.png"/>
    </div>
    <div class="dl40 login-box rc box-shadow">
        <div class="login-form tc mt5 mb5 p2 tl">
            <form id="login_form">
                <div class="login-error"><strong id="msg"/></div>
                <input class="login-field" type="text" name="username" placeholder="Username" />
                <input class="login-field" type="password" name="password" placeholder="password"/>
                <div> <input type="checkbox" name="remember" checked="True" value="1"/>Remember </div>
                <div>
                    <div class="tr">
                        <button type="button" id="login" class="dp45 login-btn box-shadow tc">Log In</button>
                    </div>
                    <div class="dp45 tr"> <br/> <a>Reset password</a> </div>
                </div>
                <script>
                    var msgbox = $('msg');
                    var request = new Request.JSON({
                        url: '/login',
                        urlEncoded: false,
                        method: 'post',
                        headers: {'Content-Type': 'application/json'},
                        onRequest: function(){
                            msgbox.set('text', 'Logging in ...');
                        },
                        onComplete: function(data) {
                            msgbox.empty();
                        }
                    });
                    $('login').addEvent('click', function(e) {
                        console.log($('login_form').toQueryString());
                        var data = JSON.encode($('login_form').toQueryString().parseQueryString());
                        console.log(data);
                        request.setHeader('Content-Type', 'application/json');
                        request.post(data);
                    });
                </script>
            </form>
        </div>
    </div>
{% include 'footer.html' %}
</div>

</body>
</html>
