<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'js.essential.html' %}
    {% include 'style.html' %}
    <div id="style">{% block style %}{% endblock %}</div>
    <title> S P A C E S | Login </title>
</head>
<body>

{% import 'macros.html' as macros %}

<div class="page tl ml2 fluid">
    <div class="dl40 mt2 tr p2 about-box ">
    <img src="/images/cow_bath.png"/>
    </div>
    <div class="dl40 login-box rc box-shadow">
        <div class="login-form tc p2 tl">
            <form id="login_form">
                <input class="login-field" type="text" name="username" placeholder="Username" />
                <input class="login-field" type="password" name="password" placeholder="password"/>
                <br/>
                <div class="dl2"> <input type="checkbox" name="remember" checked="True" value="1"/> </div> Remember
                <div>
                    <div class="login-error"><strong id="msg"/></div>
                    <div class="tr">
                        <button type="button" id="login" class="dp45 login-btn box-shadow tc">Log In</button>
                    </div>
                    <div class="dp45 tr"> <br/> <a>Reset password</a> </div>
                </div>
                <script>

                    var msgbox = $('msg');
                    function login() {
                        var data = collect_form_data('login_form');
                        request.json_send(data);
                    };
                    var request = new JSONRequest({
                        url: '/login',
                        onRequest: function(){
                            msgbox.set('text', 'Logging in ...');
                        },
                        on_success: function(result, responseText) {
                            var cur_uri = new URI();
                            cur_uri.set('directory', '');
                            cur_uri.set('file', result);
                            cur_uri.go();
                        },
                        on_fail: function(result) {
                            msgbox.set('text', "Try again..");
                        }
                    });
                    $('login').addEvent('click', login);

                    function enterKey(evt) {
                      var evt = (evt) ? evt : event
                      var charCode = (evt.which) ? evt.which : evt.keyCode
                      if (charCode == 13) {
                        login();
                      };
                    }; 

                    document.body.onkeypress = enterKey

                </script>
            </form>
        </div>
    </div>
    <div class="signup-box dl40 rc tc box-shadow">
        Signup is quick and easy <button type="button" id="signup_link" class="login-btn box-shadow tc">Sign Up</button>
        <div class="invisible">
            <form class="popup-form dl40" id="signupform">
                <input class="login-field" type="text" name="first_name" placeholder="First Name" />
                <input class="login-field" type="text" name="last_name" placeholder="Last Name"/>
                <input class="login-field" type="text" name="email" placeholder="Email Address" />
                <br/><c id="signup_msgbox"></c>
                <button type="button" id="signup" class="dp70 signup-btn tc">Sign Up</button>
                <br/>
            </form>
        </div>
    </div>
{% include 'footer.html' %}
</div>

<script>
var signupform = $('signupform');
var signup_msgbox = $('signup_msgbox');

function popup_registration(e) {
    signupform.MooDialog();
};
function register(e) {
    var request = new JSONRequest({
    url: '/api/0.1/registrations/new',
    onRequest: function(){
        signup_msgbox.set('text', 'Processing the request ...');
        },
    on_success: function(result, responseText) {
        signup_msgbox.set('html', '<big>☑</big> Registration is successful.<br/>Please check your email to activate the account.');
        },
    on_fail: function(result) {
        signup_msgbox.set('text', "Try again..");
        }
    });
    var data = collect_form_data('signupform');
    request.json_send(data);
};
$('signup_link').addEvent('click', popup_registration);
$('signup').addEvent('click', register);
</script>

</body>
</html>
