{% extends "layout.html" %}

{% block title %}
    Next
{% endblock %}

{% block tabs %}
    {{ macros.tabs(pubroot, []) }}
{% endblock %}

{% block topbar %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}

<button class="big-choice-box bg-orange"><h1> I want to apply for membership </h1></button>
<button class="big-choice-box bg-yellow"><h1> I want to start a coworking place</h1></button>
<button class="big-choice-box bg-green"><h1> I work for a coworking place</h1></button>

{% endblock %}
