<div>
    <div class="dp15 topbar">
        <br/>
        <h1 class="beer"><a class="beer" href="{{ pubroot }}">Hubspace</a></h1>
        <c class="slogan">Manage your co-working place. </c>
    </div>
    <div class="dp20 topbar tl">
        <img class="mt1" src="{{ pubroot }}/images/us.png"/>
        <br/>
    </div>
    <div class="dp30 search-box tc p1 mt2 rc">
        <div class="ml1 tc">
            <input class="tc dp80 search-text" placeholder="Search.." type="text"/><button class="search-btn dp10">Go!</button> 
        </div>
    </div>
    <div>
    <!-- links on the right goes at the top -->
    <c class="toplink">
        <a>Logout</a>
        <p class="toplink-opts"></p>
    </c>
    <c class="toplink"><a>Language</a>
        <p class="toplink-opts">
        {% for lang in available_langs %}
            <a>{{ lang }}</a><br/>
        {% endfor %}
        </p>
    </c>
    <c class="toplink">
        <a>Themes</a> 
        <p class="toplink-opts">
        {% for theme in available_themes %}
            <a href="/set_theme/{{ theme[0] }}"> {{ theme[1] }} </a><br/>
        {% endfor %}
        </p>
    </c>
    </div>
    <script>
    function init_toplinks () {
        $$('.toplink').each( function (toplink) {
            var opts = toplink.getChildren('.toplink-opts')[0];
            if (opts) {
                opts.hide();
            };
        });
    };
    init_toplinks();

    function show_opts(toplink) {
        var opts = toplink.getChildren('.toplink-opts')[0];
        if (opts) {
            toplink.set('class', 'toplink toplink-showing');
            opts.set('class', 'toplink-opts toplink-opts-showing');
            var choices = new Fx.Reveal(opts, {duration: 500, mode: 'vertical'});
            choices.toggle();
        };
    };
    function hide_opts(toplink) {
        var opts = toplink.getChildren('.toplink-opts')[0];
        if (opts) {
            toplink.set('class', 'toplink');
            opts.set('class', 'toplink-opts');
            var choices = new Fx.Reveal(opts, {duration: 500, mode: 'vertical'});
            choices.toggle();
        };
    };
    $$('.toplink').addEvent('click', function (toplink) {
        if (this.get('class') == 'toplink') {
            show_opts(this);
        }
        else {
            hide_opts(this);
        };
    });
    </script>
</div>
