<div>
    <div class="dp15 topbar">
        <br/>
        <h1 class="beer"><a class="beer" href="/">Spaces</a></h1>
        <small class="slogan">Manage your co-working place. </small>
    </div>
    <div class="dp20 topbar tl">
        <img class="mt1" src="/images/us.png"/>
        <br/>
    </div>
    {% if role != 'new' %}
    <div class="dp30 search-box tc p1 mt2 rc">

        <div class="ml1 tc">
            <input class="tc dp80 search-text" id="search" name="search" placeholder="Search.." type="text"/><button class="search-btn dp10">Go!</button> 
        </div>
        <script>
        new Autocompleter.Request.HTML('search', '/search', {
            'postVar': 'query',
            minLength: 3,
            maxChoices: 10,
            selectMode: 'type-ahead', // Instant completion
            autoSubmit: false,
            cache: true,
            delay: 300,
            onRequest: function() {
                $('search').setStyles({
                    'background-image':'url(/images/loading.gif)',
                    'background-position':'350px 7px',
                    'background-repeat':'no-repeat'
                });
            },
            onComplete: function() {
                $('search').setStyle('background','');
                $$('.search-res').addEvent('click', function () {
                    alert(this.get('id'));
                });
            }
        });
        </script>
    </div>
    {% endif %}
    <div>
    <!-- links on the right goes at the top -->
    <c class="toplink">
        <a href="/logout">Logout</a>
        <p class="toplink-opts"></p>
    </c>
    <c class="toplink"><a>Language</a>
        <p class="toplink-opts">
        {% for lang in available_langs %}
            <a id="lang_{{lang[0]}}">{{ lang[1] }} </a><br/>
            <script>
                var cur_uri = new URI();
                var cur_uri_parts = cur_uri.toString().split('/');
                cur_uri_parts[3] = '{{ lang[0] }}';
                var new_uri = cur_uri_parts.join('/');
                $('lang_{{ lang[0] }}').set('href', new_uri);
            </script>

        {% endfor %}
        </p>
    </c>
    <c class="toplink">
        <a>Themes</a> 
        <p class="toplink-opts">
        {% for theme in available_themes %}
            <a id="theme_{{ theme[0] }}"> {{ theme[1] }} </a><br/>
            <script>
                var cur_uri = new URI();
                var cur_uri_parts = cur_uri.toString().split('/');
                cur_uri_parts[5] = '{{ theme[0] }}';
                var new_uri = cur_uri_parts.join('/');
                $('theme_{{ theme[0] }}').set('href', new_uri);
            </script>
        {% endfor %}
        </p>
    </c>
    </div>
    <script>
    function init_toplinks () {
        $$('.toplink').each( function (toplink) {
            var opts = toplink.getChildren('.toplink-opts')[0];
            if (opts) {
                opts.hide();
            };
        });
    };
    init_toplinks();

    function show_opts(toplink) {
        var opts = toplink.getChildren('.toplink-opts')[0];
        if (opts) {
            toplink.set('class', 'toplink toplink-showing');
            opts.set('class', 'toplink-opts toplink-opts-showing');
            var choices = new Fx.Reveal(opts, {duration: 500, mode: 'vertical'});
            choices.toggle();
        };
    };
    function hide_opts(toplink) {
        var opts = toplink.getChildren('.toplink-opts')[0];
        if (opts) {
            toplink.set('class', 'toplink');
            opts.set('class', 'toplink-opts');
            var choices = new Fx.Reveal(opts, {duration: 500, mode: 'vertical'});
            choices.toggle();
        };
    };
    $$('.toplink').addEvent('click', function (toplink) {
        if (this.get('class') == 'toplink') {
            show_opts(this);
        }
        else {
            hide_opts(this);
        };
    });
    </script>
</div>
