{% extends "layout.html" %}

{% block tabs %}
    <h2 class="b beer">Add Coworking space</h2>
    <hr/>

    {{ macros.tabs(pubroot, [('Business Information', '/new'), ('Contact Information', '/PLACEID/contact'), ('Billing Preferences', '/PLACEID/billing')]) }}
{% endblock %}

{% block content %}

<div>
<form action="/spaces/new" method="post">
    <table class="dl60 rc box-shadow">
        <tr>
            <td><label for="name">Name </label></td>
            <td><input type="text" id="name" placeholder="My Co-Working Place" /></td>
        </tr>
        <tr>
            <td><label for="summary">Summary</label>  </td>
            <td><input type="text" name="summary" placeholder="Best coworking place in Amsterdamn"/></td>
        </tr>
        <tr>
            <td><label for="description">Business Description</label></td>
            <td><textarea name="description" id="description" class="richtext"> </textarea></td>
        </tr>
        <tr>
            <td><label for="company_number">Company Number</label>  </td>
            <td><input type="text" name="company_number" placeholder="If any"/></td>
        </tr>
    </table>
</form>
</div>

<script>
    $('description').mooEditable({
        actions: 'bold italic underline strikethrough | formatBlock justifyleft justifyright justifycenter justifyfull | smiley urlimage | insertunorderedlist insertorderedlist indent outdent insertHorizontalRule | undo redo removeformat | createlink unlink | urlimage | toggleview'
    });
    
</script>

<div class="clear"/>
{% endblock %}
<!--
Name
Summary
Description
Company number
Cutstom fields

Contact Info
Phone number
Fax number
Email address
Website
Blog
Twitter
City
Address
Pincode
Country

Billing 
Currency
Locale
TimeZone

Invoicing Preferences
Bank
Account number
Tax Included

Resources

Messages
-->
