{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}

{% block content %}
<br/>
<br/>

    <div class="pl2 pr2 dp80 rc box-shadow">
        <h3 class="mt1">Billing
        <input class="ml35 pl2 pr2" id="billingedit" value="Edit" type="button">
        </h3>
        <hr/>
        <table>
		<tr>
                    <td>
                        <input checked="checked" name="billing_mode" value="0" type="radio">Use Contact Information<br>
                        <input name="billing_mode" value="2" type="radio">Use Company Information<br>
                        <input name="billing_mode" value="1" type="radio">Use Information below<br>
                    </td>
		</tr>
                <div id="billingdetails" class="hide">
                <table id="hide2">
                    <tr>
                            <td>Company name</td>
                            <td><input name="company_name" type="text" placeholder="Type company name here" /></td>
                    </tr>
                    <tr>
                            <td>Company Number</td>
                            <td><input name="bill_company_no" id="bill_company_no" value="" class="text billing_details" type="text" /></td>
                    </tr>	
                    <tr>
                            <td>Company address</td>
                            <td><textarea name="companyaddress" placeholder="Type company address here" /></textarea></td>
                    <tr>
                            <td>Phone number</td>
                            <td><input name="companyphone" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Fax number</td>
                            <td><input name="companyfax" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Email contact</td>
                            <td><input name="companyemail" type="email" placeholder="Type company email here" /></td>
                    </tr>
                    <tr>
                            <td>VAT Number</td>
                            <td><input name="bill_vat_no" id="bill_vat_no" value="" class="text billing_details" type="text" /></td>
                    </tr>
                </table>
                </div>
                <div id="companydetails" class="hide">
                <table>
                    <tr>
                            <td>Company name</td>
                            <td><input name="company_name" type="text" placeholder="Type company name here" /></td>
                    </tr>
                    <tr>
                            <td>Company address</td>
                            <td><textarea name="companyaddress" placeholder="Type company address here" /></textarea></td>
                    <tr>
                            <td>Phone number</td>
                            <td><input name="companyphone" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Fax number</td>
                            <td><input name="companyfax" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Email contact</td>
                            <td><input name="companyemail" type="email" placeholder="Type company email here" /></td>
                    </tr>
                </table>
                </div>
</div>

{% endblock %}
