{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('Billing Details', '/members/billing')])}}
{% endblock %}

{% block content %}
<div class="pl2 pr2 dp80 rc box-shadow">
        <h3 class="mt1">Edit section : Billing Details</h3>
        <hr/>
        <form id="billingdetailsedit">
		<tr>
                    <td>
                        <input checked="checked" name="billing_mode" value="0" type="radio">Use Contact Information<br>
                        <input name="billing_mode" value="2" type="radio">Use Company Information<br>
                        <input name="billing_mode" value="1" type="radio">Use Information below<br>
                    </td>
		</tr>
                <div id="billingdetails" class="hide">
                <table id="hide2">
                    <tr>
                            <td>Company name</td>
                            <td><input name="company_name" type="text" placeholder="Type company name here" /></td>
                    </tr>
                    <tr>
                            <td>Company Number</td>
                            <td><input name="bill_company_no" id="bill_company_no" value="" class="text billing_details" type="text" /></td>
                    </tr>	
                    <tr>
                            <td>Company address</td>
                            <td><textarea name="companyaddress" placeholder="Type company address here" /></textarea></td>
                    <tr>
                            <td>Phone number</td>
                            <td><input name="companyphone" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Fax number</td>
                            <td><input name="companyfax" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Email contact</td>
                            <td><input name="companyemail" type="email" placeholder="Type company email here" /></td>
                    </tr>
                    <tr>
                            <td>VAT Number</td>
                            <td><input name="bill_vat_no" id="bill_vat_no" value="" class="text billing_details" type="text" /></td>
                    </tr>
                </table>
                </div>
                <div id="companydetails" class="hide">
                <table>
                    <tr>
                            <td>Company name</td>
                            <td><input name="company_name" type="text" placeholder="Type company name here" /></td>
                    </tr>
                    <tr>
                            <td>Company address</td>
                            <td><textarea name="companyaddress" placeholder="Type company address here" /></textarea></td>
                    <tr>
                            <td>Phone number</td>
                            <td><input name="companyphone" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Fax number</td>
                            <td><input name="companyfax" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Email contact</td>
                            <td><input name="companyemail" type="email" placeholder="Type company email here" /></td>
                    </tr>
                </table>
                </div>
      <hr/>
      <div class="ml25 pl2 pr2">
          <button id="submit_billingdetailsedit" type="submit">Update</button>
          <button id="reset" type="reset">Reset</button>
          <button id="cancel" type="button">Cancel</button>
      </div>
      <hr/>
  </form>
</div>

<script type="text/javascript">
/*
var mySlide2 = new Fx.Slide('billingdetails', {mode: 'horizontal'});

$('hide2').addEvent('click', function(e){
        e = new Event(e);
        mySlide2.hide();
        e.stop();
});
*/
window.addEvent('domready', function() {
    function check_and_display() {
        alert(select_option);
        if (select_option == 0) {
            $('companydetails').hide();
            $('billingdetails').hide();
        }
        else if (select_option == 1) {
            $('companydetails').show();
            $('billingdetails').hide();
        } 
        else if (select_option == 2) {
            $('billingdetails').show();
            $('companydetails').hide();
        }; 
    }; 

    var select_option = $$('input[name=billing_mode]:checked').map(function(e) { return e.value; });
    check_and_display(select_option);
});
</script> 


{% endblock %}
