{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}

{% block content %}
<div class="pl2 pr2 dp50 rc box-shadow">
        <h3 class="mt1">Billing Details</h3>
        <hr/>
        <form id="billingdetailsedit">
            <table>
		<tr>
                    <td>
                        <input checked="checked" name="billing_mode" value="0" type="radio" onClick="take_action('0')">Use Contact Information<br>
                        <input name="billing_mode" value="1" type="radio" onClick="take_action('1')">Use Company Information<br>
                        <input name="billing_mode" value="2" type="radio" onClick="take_action('2')">Use Information below<br>
                    </td>
		</tr>
            </table>
                <div id="billingdetails" class="pb2">
                    <div class="p1">				
                        <div class="dp50 leftcol"> Company name </div>
                        <div class="dp50 rightcol"> Hamara Parivaar Corp </div>                 
                    </div>			
                    <div class="p1">				
                        <div class="dp50 leftcol"> Company Number </div>	
                        <div class="dp50 rightcol"> 123 456 7890 </div>                 
                    </div>			
                    <div class="p1">				
                        <div class="dp50 leftcol"> Company address </div>
                        <div class="dp50 rightcol"> roop mahal, prem gali, kholi no. 420 </div>                 
                    </div>			
                    <div class="p1">				
                        <div class="dp50 leftcol"> Phone number </div>
                        <div class="dp50 rightcol">  123 456 7890 </div>                 
                    </div>			
                    <div class="p1">				
                        <div class="dp50 leftcol"> Fax number </div>
                        <div class="dp50 rightcol">  123 456 7890 </div>                 
                    </div>			
                    <div class="p1">				
                        <div class="dp50 leftcol"> Email contact </div>
                        <div class="dp50 rightcol"> excuse.me@please.com </div>                 
                    </div>			
                </div>
                <div id="custom_information" class="mt1">
                <table>
                    <tr>
                            <td>Company name</td>
                            <td><input name="company_name" type="text" placeholder="Type company name here" /></td>
                    </tr>
                    <tr>
                            <td>Company address</td>
                            <td><textarea name="companyaddress" placeholder="Type company address here" /></textarea></td>
                    <tr>
                            <td>Phone number</td>
                            <td><input name="companyphone" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Fax number</td>
                            <td><input name="companyfax" type="text" placeholder="001 123 456 7890" /></td>
                    </tr>
                    <tr>
                            <td>Email contact</td>
                            <td><input name="companyemail" type="email" placeholder="Type company email here" /></td>
                    </tr>
                </table>
                </div>
      <hr/>
      <div class="ml15 pl2 pr2">
          <button id="submit_billingdetailsedit" type="submit">Update</button>
          <button id="reset" type="reset">Reset</button>
          <button id="cancel" type="button">Cancel</button>
      </div>
      <hr/>
  </form>
</div>

<script type="text/javascript">
    function take_action(input) {
        check_and_display(input);
    };

    function check_and_display(select_option) {
        if (select_option == '0') {
            $('custom_information').hide();
            $('billingdetails').hide();
        }
        else if (select_option == '1') {
            $('billingdetails').show();
            $('custom_information').hide();
        } 
        else if (select_option == '2') {
            $('custom_information').show();
            $('billingdetails').hide();
        }; 
    }; 

    var default_value = $$('input[name=billing_mode]:checked').map(function(e) { return e.value; })[0];
    check_and_display(default_value);
</script> 

<div class="mr2 pl2 pr2 dp20 rc box-shadow">
    <div>
        <h3>Shraddha More</h3>
        <hr/>
        <img src="../images/logos/muhhaaa.jpg" width="200" height="200" alt="Shraddha More" />
        <br/><br/>
    </div>
    <div>
        <h3>Social Me</h3>
    </div>
    <hr/>
    <div>
        <img src="../images/logos/tweet.jpg" width="20" height="20"/>
        <img src="../images/logos/fb.jpg" width="20" height="20"/>
        <img src="../images/logos/digg.jpg" width="20" height="20"/>
    </div>
</div>

{% endblock %}
