{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}
<br/>
<br/>

    <div class="pl2 pr2 dp60 rc box-shadow">
        <h3 class="mt1">Contact Information
        <span class="edit-link" id="myprofileedit"><a href ="./myprofileedit">Edit</a></span>
        </h3>
        <hr/>
            <table>
                    <tr>
                        <td>Address</td>
                        <td>123 my favorite st</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>London</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>Britain</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>422010</td>
                    </tr>
            </table>
            <table>                  
                    <tr>
                        <td>Fax</td>
                        <td>001 123 234 1234</td>
                    </tr>
                    <tr>
                        <td>Mobile </td>
                        <td>001 123 234 1234</td>
                    </tr>
                    <tr>
                        <td>Work Phone </td>
                        <td>001 123 234 1234</td>
                    </tr>
                    <tr>
                        <td>Home Phone </td>
                        <td>001 123 234 1234</td>
                    </tr>
            </table>
            <table>                  
                    <tr>
                        <td>Primary Email</td>
                        <td>myemailid@first.com</td>
                    </tr>
                    <tr>
                        <td>Secondary Email</td>
                        <td>myemailid@second.com</td>
                    </tr>
                    <tr>
                        <td>Additional Email</td>
                        <td>myemailid@third.com</td>
                    </tr>
            </table>
            <table>                  
                    <tr>
                        <td>Website</td>
                        <td>www.mywebsite.ext</td>
                    </tr>
                    <tr>	
                        <td>Internet Phone (SIP id)</td>
                        <td>001 123 234 1234</td>
                    </tr>
                    <tr>	
                        <td>Skype name</td>
                        <td>skypename</td>
                    </tr>
                </table>	
    </div>

    <div class="mr2 pl2 pr2 dp20 rc box-shadow">
        <div>
            <h3>Shraddha More</h3>
            <hr/>
            <img src="../images/logos/muhhaaa.jpg" width="200" height="200" alt="Shraddha More" />
            <br/><br/>
        </div>
        <div>
            <h3>Social Me</h3>
        </div>
        <hr/>
        <div>
            <img src="../images/logos/tweet.jpg" width="20" height="20"/>
            <img src="../images/logos/fb.jpg" width="20" height="20"/>
            <img src="../images/logos/digg.jpg" width="20" height="20"/>
        </div>
    </div>

{% endblock %}
