{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}
<br/>
<br/>

    <div class="pl2 pr2 dp50 rc box-shadow">
        <h3 class="mt1">Contact Information
        <span class="edit-link" id="contactedit"><a href ="./contactedit">Edit</a></span>
        </h3>
        <hr/>
            <div class="pb2">
                <div class="p1">
                    <div class="dp50 leftcol"> Address </div>
                    <div class="dp50 rightcol">893, Ligon St</div>
                </div>
                <div class="p1">
                    <div class="dp50 leftcol"> City </div>
                    <div class="dp50 rightcol">London</div>
                </div>
                <div class="p1">
                    <div class="dp50 leftcol"> Country </div>
                    <div class="dp50 rightcol">Britain</div>
                </div>
                <div class="p1">
                    <div class="dp50 leftcol"> Postcode </div>
                    <div class="dp50 rightcol">422010</div>
                </div>
            </div>
            <hr/>
            <div class="pb2">
                <div class="p1">                  
                    <div class="dp50 leftcol"> Fax </div>
                    <div class="dp50 rightcol">001 891 651 7823</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Mobile </div>
                    <div class="dp50 rightcol">001 919 985 6782</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Work Phone </div>
                    <div class="dp50 rightcol">001 781 629 4236</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Home Phone </div>
                    <div class="dp50 rightcol">001 919 672 8123</div>
                </div>
            </div>
            <hr/>
            <div class="pb2">
                <div class="p1">                  
                    <div class="dp50 leftcol"> Primary Email </div>
                    <div class="dp50 rightcol">myemailid@first.com</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Secondary Email </div>
                    <div class="dp50 rightcol">myemailid@second.com</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Additional Email </div>
                    <div class="dp50 rightcol">myemailid@third.com</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol"> Website </div>
                    <div class="dp50 rightcol">www.mywebsite.ext</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol">	Internet Phone (SIP id) </div>
                    <div class="dp50 rightcol">001 723 382 4239</div>
                </div>
                <div class="p1">                  
                    <div class="dp50 leftcol">	Skype name </div>
                    <div class="dp50 rightcol">skypename</div>
                </div>
            </div>
    </div>

    <div class="mr2 pl2 pr2 dp20 rc box-shadow">
        <div>
            <h3>Firstname Lastname</h3>
            <hr/>
            <img src="../images/logos/muhhaaa.jpg" width="200" height="200" alt="Firstname Lastname" />
            <br/><br/>
        </div>
        <div>
            <h3>Social Me</h3>
        </div>
        <hr/>
        <div>
            <img src="../images/logos/tweet.jpg" width="20" height="20"/>
            <img src="../images/logos/fb.jpg" width="20" height="20"/>
            <img src="../images/logos/digg.jpg" width="20" height="20"/>
        </div>
    </div>

{% endblock %}
