{% extends "members/profile_layout.html" %}

{% block content %}

<script type="text/javascript">
function hideeditpage(){
    $('editsection').hide();
    $('infosection').show();
};

function showeditpage(){
    $('infosection').hide();
    $('editsection').show();
};
</script>

#infosection.pl2.pr2.pb2.dp50.rc.box-shadow
    h3.mt1 
        Membership Information
        span.edit-link
            a onclick=showeditpage() | Edit
    > hr

    .p1
        .p1
            .dp30.leftcol.b | Location
            .dp30.middlecol.b | Tariff
            .dp30.rightcol.b | Role
        .p1
            .dp30.leftcol | Amsterdam
            .dp30.middlecol | Start 50
            .dp30.rightcol | Member
        .p1
            .dp30.leftcol | Amsterdam
            .dp30.middlecol | Start 50
            .dp30.rightcol | Member
    > hr

    h3 | Services related information

#editsection
    .pl2.pr2.dp60.rc.box-shadow
        h3.mt1 | Edit Membership Information
        form#membershipinfoeditform
            p
                Request Membership
                .circle-dark.circle-current
                    .circle-dark-text | 1
                a | Select Co-working Place

                .circle-dark
                    .circle-dark-text | 2
                a | Select Co-working Plan

                .circle-dark
                    .circle-dark-text | 3
                a | Send Request


        > hr

        h3.mt1 | Change Roles/ Tariff

        .tc
            table
                tr
                    th | Location
                    th | Tariff
                    th | Role
                tr
                    td | Amsterdam
                    td | Start 50
                    td
                        select name=role
                            option | Member
                            option | Host
        
        > hr

        h3 | Other Services Information

        > hr
        .middlecol
            button | Update
            button#reset type=reset | Reset
            button#cancel type=button onclick=hideeditpage() | Cancel
        > hr

<script>
hideeditpage();

function show_loading() {};
function hide_loading() {};
function load_data(data) {
    var first_name = data['first_name'];
};

var req = new JSONRequest({
    url: "/api/0.1/plans/",
    onRequest: show_loading,
    onComplete: hide_loading,
    on_success: load_data
});
req.json_send();
</script>

{% endblock %}
