{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}

<script type="text/javascript">
    function hideedit(){
        $('membershipinfodiv').setStyle('visibility', 'visible');
        $('membershipinfodiv').setStyle('position', 'relative');
        $('socialmediv').setStyle('visibility', 'visible');
        $('socialmediv').setStyle('position', 'relative');
        $('membershipinfoedit').setStyle('visibility', 'hidden');
        $('membershipinfoedit').setStyle('position', 'absolute');
    };
    function showedit(){
        $('membershipinfodiv').setStyle('visibility', 'hidden');
        $('membershipinfodiv').setStyle('position', 'absolute');
        $('socialmediv').setStyle('visibility', 'hidden');
        $('socialmediv').setStyle('position', 'absolute');
        $('membershipinfoedit').setStyle('visibility', 'visible');
        $('membershipinfoedit').setStyle('position', 'relative');
    };
</script>

<div id="membershipinfodiv" class="pl2 pr2 pb2 dp50 rc box-shadow">
    <h3 class="mt1">Membership Information
        <span class="edit-link"> <a href="#" onclick="showedit()">Edit</a> </span>
    </h3>
    <hr/>
    <div class="p1">	
        <div class="p1">				
            <div class="dp30 leftcol boldtitle"> Location </div>
            <div class="dp30 middlecol boldtitle"> Tariff </div>
            <div class="dp30 rightcol boldtitle"> Role </div>                 
        </div>			
        <div class="p1">				
            <div class="dp30 leftcol"> Amsterdam </div>
            <div class="dp30 middlecol"> Start 50 </div>
            <div class="dp30 rightcol"> Member </div>                 
        </div>			
        <div class="p1">				
            <div class="dp30 leftcol"> Madrid </div>
            <div class="dp30 middlecol"> Unlimited </div>
            <div class="dp30 rightcol"> Host </div>                 
        </div>			
    </div>
    <hr/>
    <div class="p1">			 
        <div class="p1">
            <div class="dp50 leftcol"> Phone handset number </div>
            <div class="dp50 rightcol"> 123 467 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Extension number </div>
            <div class="dp50 rightcol"> 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Franking machine pin </div>
            <div class="dp50 rightcol"> 123 467 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Storage allocation on hub server (GB) </div>
            <div class="dp50 rightcol"> 3GB </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Type of computer </div>
            <div class="dp50 rightcol"> Ubuntu </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Location of storage </div>
            <div class="dp50 rightcol"> Pune </div>
        </div>
    </div>
</div>
{% include 'socialme.html' %}
<div id="membershipinfoedit" class="hidediv">
<div class="pl2 pr2 dp60 rc box-shadow">
    <h3 class="mt1">Edit: Membership Information</h3>
    <hr/>
    <form id="membershipinfoeditform">		
        <table>			
            <tr>
                <td>Current Memberships</td>
                <td></td>
                <ol>
                    <td> <li>Amsterdam</li> </td>
            </tr>
            <tr>
                    <td></td>
                    <td></td>
                    <td> <li>Madrid</li> </td>
                </ol>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <select name="chooseloc">
                        <option value="">Requst Membership to...</option>
                        <option value="1">Brussels</option>
                        <option value="2">King Cross</option>
                    </select>
                </td>
            </tr>				
        </table>	
        <hr/>
        <table>
            <tr>				
                <th> Location </th>
                <th> Tariff </th>
                <th> Role </th>                 
            </tr>			
            <tr>				
                <td> Amsterdam </td>
                <td> Start 50 </td>
                <td>
                    <select name="current_role">
                        <option value="">Member</option>
                        <option value="1">Host</option>
                        <option value="2">Director</option>
                    </select> 
                </td>                 
            </tr>				
            <tr>				
                <td> Madrid </td>
                <td> Unlimited </td>
                <td>
                    <select name="current_role">
                        <option value="">Host</option>
                        <option value="1">Member</option>
                        <option value="2">Director</option>
                    </select> 
                </td>                 
            </tr>			
        </table>	
        <hr/>
        <div>
            <table>
                <tr>
                    <td>Phone handset number</td>
                    <td><input id="handset" name="handset" value="" class="text" type="text" /></td>
                    <td class="rightcol-makepublic"><input name="public_field" value="1" id="public_field" type="checkbox" />Make it public?</td>
                </tr>
                <tr>
                    <td>Extension number</td>
                    <td><input id="ext" name="ext" value="" class="text" type="text" /></td>
                    <td class="rightcol-makepublic"><input name="public_field" value="1" id="public_field" type="checkbox" />Make it public?</td>
                </tr>
                <tr>
                    <td>Franking machine pin</td>
                    <td><input id="frank_pin" name="frank_pin" value="" class="text" type="text" /></td>
                </tr>
                <tr>
                    <td>Storage allocation on hub server (GB)</td>
                    <td><input id="gb_storage" name="gb_storage" value="" class="text" type="text" /></td>
                </tr>
                <tr>
                    <td>Type of computer</td>
                    <td><input id="os" name="os" value="" class="text" type="text" /></td>
                </tr>
                <tr>
                    <td>Location of storage</td>
                    <td><input id="storage_loc" name="storage_loc" value="" class="text" type="text" /></td>
                </tr>
            </table>
        </div>
        <hr/>
        <div class="middlecol">
            <button id="submit_contactedit">Update</button>
            <button id="reset" type="reset">Reset</button>
            <button id="cancel" type="button" onclick="hideedit()">Cancel</button>
        </div>
        <hr/>
    </form>
</div>
</div>
{% endblock %}
