{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}
<br/>
<br/>

    <div class="pl2 pr2 dp60 rc box-shadow">
        <h3 class="mt1">Membership Information
        <input class="ml25 pl2 pr2" id="membershipinfoedit" value="Edit" type="button">
        </h3>
        <hr/>
                <table>			 
		    <tr>
                        <td class="line">Memberships</td>
                        <td>AMS</td>
		    </tr>
		    <tr>
			<td></td><td>MAD</td>
		    </tr>
  </table>	
  <table>	
	            <tr>				
			<td> Location
			</td>
                        <td> Tariff
			</td>
                        <td> Role
			</td>                 
		    </tr>			

	            <tr>				
			<td> AMS </td>
                        <td> Start 50 </td>
                        <td> Member </td>                 
		    </tr>				

	            <tr>				
			<td> MAD </td>
                        <td> Unlimited </td>
                        <td> Host </td>                 
		    </tr>			
  </table>	
<hr/>
	<table>
		<tr>
			<td class="line">Phone handset number</td>
			<td>123 467 7890</td>
		</tr>

		<tr>
			<td class="line">Extension number</td>
			<td>7890</td>
		</tr>
		<tr>
			<td class="line">Franking machine pin</td>
			<td>123 467 7890</td>
		</tr>

		<tr>
			<td class="line">Storage allocation on hub server (GB)</td>
			<td>3GB</td>
		</tr>
		<tr>
			<td class="line">Type of computer</td>
			<td>Ubuntu</td>
		</tr>

		<tr>
			<td class="line">Location of storage</td>
			<td>Pune</td>
		</tr>
            </table>
      <!--
      <hr/>
      <div class="ml5 pl2 pr2">
          <input id="submit_add_member" value="Add" type="button">
          <input id="cancel" value="Cancel" type="button">
          <input id="reset" value="Reset" type="button">
      </div>
      <br/>
      <hr/>
      -->
    </div>

    <div class="ml25 pl2 pr2 dp20 rc box-shadow">
    <table>
	<tr><td>
        	<h3>Shraddha More</h3>
        	<hr/>
		<img src="file:///home/shraddha/Desktop/extra/Jpegs/chhan pics from net/muhhaaa.jpg" width="200" height="200" alt="Shraddha More" />
		<br/><br/>
	</td></tr>
	<tr><td>
        	<h3>Social Me</h3>
        	<hr/>
		<img src="file:///home/shraddha/Desktop/tweet.jpg" width="20" height="20"/>
		<img src="file:///home/shraddha/Desktop/fb.jpg" width="20" height="20"/>
		<img src="file:///home/shraddha/Desktop/digg.jpg" width="20" height="20"/>
	</td></tr>
	<tr><td>
		<img src="file:///home/shraddha/Desktop/tweet.jpg" width="20" height="20"/>
		<img src="file:///home/shraddha/Desktop/tweet.jpg" width="20" height="20"/>
	</td></tr>
    </table>
</div>

{% endblock %}
