{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}
<br/>
<br/>

<div class="pl2 pr2 pb2 dp50 rc box-shadow">
    <h3 class="mt1">Membership Information
        <span class="edit-link" id="myprofileedit"><a href ="./myprofileedit">Edit</a></span>
    </h3>
    <hr/>
    <div class="p1">			 
        <div class="dp50 leftcol">Memberships</div>
        <div class="dp50 rightcol">AMS </div>
        <div class="dp50 leftcol"><p> </p></div>
        <div class="dp50 rightcol">MAD </div>
    </div>	
    <hr/>
    <div class="p1">	
        <div class="p1">				
            <div class="dp30 leftcol"> Location </div>
            <div class="dp30 middlecol"> Tariff </div>
            <div class="dp30 rightcol"> Role </div>                 
        </div>			
        <div class="p1">				
            <div class="dp30 leftcol"> AMS </div>
            <div class="dp30 middlecol"> Start 50 </div>
            <div class="dp30 rightcol"> Member </div>                 
        </div>			
        <div class="p1">				
            <div class="dp30 leftcol"> MAD </div>
            <div class="dp30 middlecol"> Unlimited </div>
            <div class="dp30 rightcol"> Host </div>                 
        </div>			
    </div>
    <hr/>
    <div class="p1">			 
        <div class="p1">
            <div class="dp50 leftcol"> Phone handset number </div>
            <div class="dp50 rightcol"> 123 467 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Extension number </div>
            <div class="dp50 rightcol"> 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Franking machine pin </div>
            <div class="dp50 rightcol"> 123 467 7890 </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Storage allocation on hub server (GB) </div>
            <div class="dp50 rightcol"> 3GB </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Type of computer </div>
            <div class="dp50 rightcol"> Ubuntu </div>
        </div>			
        <div class="p1">
            <div class="dp50 leftcol"> Location of storage </div>
            <div class="dp50 rightcol"> Pune </div>
        </div>
    </div>
</div>
</div>
<div class="mr2 pl2 pr2 dp20 rc box-shadow">
    <div>
        <h3>Shraddha More</h3>
        <hr/>
        <img src="../images/logos/muhhaaa.jpg" width="200" height="200" alt="Shraddha More" />
        <br/><br/>
    </div>
    <div>
        <h3>Social Me</h3>
    </div>
    <hr/>
    <div>
        <img src="../images/logos/tweet.jpg" width="20" height="20"/>
        <img src="../images/logos/fb.jpg" width="20" height="20"/>
        <img src="../images/logos/digg.jpg" width="20" height="20"/>
    </div>
</div>
{% endblock %}
