{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}
{% block content %}
<br/>
<br/>
<div class="pl2 pr2 pb2 dp50 rc box-shadow">
            <h3 class="mt1">About me
                <span class="edit-link" id="myprofileedit"><a href ="./myprofileedit">Edit</a></span>
            </h3>
            <hr/>
            <div class="p1">
                    I am a collaborative systems architect and Internet technologist. I develop Free and Open Source software tools for trade, collaboration and knowledge sharing. The tools I work on are focussed on empowering social innovators and engendering ethical business practices.

I currently work for the Hub improving this system and making newer better ones. Over the coming year we plan to build tools to enable virtual organisation and create a global network for social innovation rooted in the physical communities provided by Hubs. Coincidentally, I did a Masters thesis on "Virtual Open Organisational Platforms".

I have studied Philosophy, Economics & Computing at University and worked as a consultant on new paradigms in economics, organisation and technology. I also co-founded http://uniteddiversity.com and http://open.coop. The Open Co-op is currently working on OpenCoin an anonymous digital cash system for Internet payments.

During 2002, at the New Economics Foundation, I began an in depth study of monetary systems and realized that the world needs new monetary systems if we are to achieve democracy, or sustainability, or eradicate poverty. Soon after I realised that the Internet is the best hope of a platform for free and democratic money. And so began my unexpected diversion into Internet technology...

I recently saw this 50 minute film which summarized very well a few years of my thinking on what is wrong with the world's monetary system. http://video.google.com/videoplay?docid=-9050474362583451279 Of course it doesn't cover in any detail the possible solutions but you can't learn everything in 50mins.

I am very concerned about the general level of ignorance (and media indoctrination) most people still seem to display about the ethical aspects of intellectual property and copyright. Many people still seem to think that the laws are there to help small business and inventors. I can't understand why it is not obvious that a society in which all knowledge is privately owned cannot be free or democratic. A society in which a thought can be "owned before you thought it". One of my favourite presentations is "free culture" by Laurence Lessig since it makes this really clear. I also love the style of the presentation http://randomfoo.net/oscon/2002/lessig/free.html
            </div>
            <hr/>
            <div class="p1">
                    <div class="dp50 leftcol">Interests in</div>
                    <div class="dp50 rightcol">Networking, Collaboration</div>
            </div>
            <div class="p1">
                    <div class="dp50 leftcol">Expertise</div>
                    <div class="dp50 rightcol">Python Developer</div>
            </div>
</div>
<div class="mr2 pl2 pr2 dp20 rc box-shadow">
    <div>
        <h3>Shraddha More</h3>
        <hr/>
        <img src="../images/logos/muhhaaa.jpg" width="200" height="200" alt="Shraddha More" />
        <br/><br/>
    </div>
    <div>
        <h3>Social Me</h3>
    </div>
    <hr/>
    <div>
        <img src="../images/logos/tweet.jpg" width="20" height="20"/>
        <img src="../images/logos/fb.jpg" width="20" height="20"/>
        <img src="../images/logos/digg.jpg" width="20" height="20"/>
    </div>
</div>
{% endblock %}
