{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}

{% block content %}
    <div class="pl2 pr2 dp50 rc box-shadow">
    <h3 class="mt1">Preferences</h3>
    <hr/>
    <form id="preferencesedit">		
        <table>
            <tr>
                <td class="leftcol-sp">Hub Provided Languages</td>
                <td class="middlecol-sp">
                    <select>
                        {% for lang in available_langs %}
                            <option value="hub_lang">{{ lang }}</option><br/>
                        {% endfor %}
                    </select> 
                </td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Themes</td>
                <td class="middlecol-sp">
                    <select>
                        {% for theme in available_themes %}
                            <option value="theme">{{ theme[1] }}</option><br/>
                        {% endfor %}
                    </select> 
                </td>
            </tr>
        </table>	
        <hr/>
        <div class="middlecol">
            <button id="submit_contactedit" type="submit">Update</button>
            <button id="reset" type="reset">Reset</button>
            <button id="cancel" type="button">Cancel</button>
        </div>
        <hr/>
    </form>
    </div>
    {% include 'socialme.html' %}

{% endblock %}
