{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}

{% block content %}
    <div class="pl2 pr2 dp50 rc box-shadow">
    <h3 class="mt1">Preferences</h3>
    <hr/>
    <form id="preferencesedit">		
        <table>
            <tr>
                <td class="leftcol-sp">Hub Provided Languages</td>
                <td class="middlecol-sp">
                    <select>
                        <option value ="lang1">English</option>
                        <option value ="lang2">Spanish</option>
                        <option value ="lang3">Germany</option>
                    </select>
                </td>
                <td class="rightcol"> <!-- Have to convert this entire td into one common shared piece -->
                    <select>
                        <option value ="myself" title="Shared with only you">Myself</option>
                        <option value ="locationwide" title="Shared among all members of your location(s)">Location-wide</option>
                        <option value ="allhubs" title="Shared among all members of all Hubs">All hubs</option>
                        <option value ="public" title="Shared on your Hub website.">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Other Provided Languages</td>
                <td class="middlecol-sp">
                    <select>
                        <option value ="lang1">French</option>
                        <option value ="lang2">Russian</option>
                        <option value ="lang3">Hindi</option>
                    </select>
                </td>
                <td class="rightcol"> <!-- Have to convert this entire td into one common shared piece -->
                    <select>
                        <option value ="myself" title="Shared with only you">Myself</option>
                        <option value ="locationwide" title="Shared among all members of your location(s)">Location-wide</option>
                        <option value ="allhubs" title="Shared among all members of all Hubs">All hubs</option>
                        <option value ="public" title="Shared on your Hub website.">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Themes</td>
                <td class="middlecol-sp">
                    <select>
                        <option value ="theme1">Green</option>
                        <option value ="theme2">Black and White</option>
                        <option value ="theme3">Facebook</option>
                    </select>
                </td>
                <td class="rightcol"> <!-- Have to convert this entire td into one common shared piece -->
                    <select>
                        <option value ="myself" title="Shared with only you">Myself</option>
                        <option value ="locationwide" title="Shared among all members of your location(s)">Location-wide</option>
                        <option value ="allhubs" title="Shared among all members of all Hubs">All hubs</option>
                        <option value ="public" title="Shared on your Hub website.">Public</option>
                    </select> 
                </td>
            </tr>
        </table>	
        <hr/>
        <div class="middlecol">
            <button id="submit_contactedit" type="submit">Update</button>
            <button id="reset" type="reset">Reset</button>
            <button id="cancel" type="button">Cancel</button>
        </div>
        <hr/>
    </form>
    </div>
    {% include 'socialme.html' %}

{% endblock %}
