{% extends "members/profile_layout.html" %}

{% block content %}

<script>
    
    function add_more() { 
        var extra_div_element = document.getElementById('extra_div');
        aTextBox = document.createElement('input');
        var inputidname = 'socialnw_choice_'+ socialnw_count;
        aTextBox.setAttribute('id', inputidname);
        aTextBox.setAttribute('class', 'socialnw-input');
        aTextBox.setAttribute('type','text');
        extra_div_element.appendChild(aTextBox); 
        var extra_select_element = document.getElementById('social_nw_div_select');
        var clone = extra_select_element.clone().inject(inputidname,'after');
        socialnw_count++;
    };

    function hideeditpage(){
        $('myprofileedit').hide();
        $('myprofilediv').show();
        $('socialmediv').show();
    };

    function showeditpage(){
        $('myprofileedit').show();
        $('myprofilediv').hide();
        $('socialmediv').hide();
    };

    var socialnw_count = 0;
</script>

#myprofilediv.p2.dp50.rc.box-shadow
    h3.mt1.member-name
        c.data-display_name | Loading ...
        span.edit-link
            a onclick=showeditpage() | Edit
    c.data-short_description | Loading ...
    > hr
    .data-long_description
        Loading...
    > hr
    .p1
        .dp50.leftcol | Interests in
        #data-interests.dp50.rightcol | Loading ...
    .p1
        .dp50.leftcol | Expertise
        #data-expertise.dp50.rightcol | Loading ...

{% include 'socialme.html' %}
       
#myprofileedit.p2.rc.box-shadow
    h3.mt1 | Edit Profile
    form#myprofileedit
        > hr
        .hp
            .dp75.ml2.p1
                .dp20.tr.boldtitle | Show name as
                .dp75.ml2
                    > select#display_name-select name="display_name"
            .dp75.ml2.p1
                .dp20.tr.boldtitle | First Name
                .dp75.ml2
                    > input.text.data-first_name name=first_name type=text placeholder="First name"
            .dp75.ml2.p1
                .dp20.tr.boldtitle | Last Name
                .dp75.ml2
                    > input.text.data-last_name name=last_name type=text placeholder="Last name"
            .dp75.ml2.p1
                .dp20.tr.boldtitle | Short Description
                .dp75.ml2
                    > input.text.data-short_description name=short_description type=text placeholder="One line about you"

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Description
                .dp75.ml2
                    textarea#long_description.richtext name=description | Loading ...

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Upload photo
                .dp75.ml2
                    > input#uploadPicture.textbox type="file"
                    > br
                    em | Do not upload photos containing cartoons, celebrities, nudity, artwork or copyrighted images.

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Website
                .dp75.ml2
                    > input#website.text type=url name=website placeholder=http://

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Interests in
                .dp75.ml2
                    > input#edit_interests.text type=text name=interests placeholder="Fields you are interested in"

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Expertise in
                .dp75.ml2
                    > input#edit_expertise.text type=text name=expertise placeholder="Your expertise"

            .dp75.ml2.p1
                .dp20.tr.boldtitle | Social me
                .dp75.ml2
                   #social_nw_div
                       > input.socialnw-input name=socialnw_choice_0 type=text
                       select#social_nw_div_select.social-select name=socialnw_options[]
                          option value=1 | Twitter
                          option value=2 | Facebook
                          option value=3 | LinkedIn
                          option value=4 | Google Profile
                          option value=5 | Flickr
                          option value=6 | Skype
                   div
                       a href=javascript:; onclick=add_more(); | Add more

        > hr

        .middlecol
            button#submit_profileedit  type=button | Update
            button#reset  type=button | Reset
            button#cancel type=button onclick=hideeditpage() | Cancel
        > hr

<script>

hideeditpage();

function show_loading() {
    var fields = [
        '.data-first_name',
        '.data-last_name'
    ];
    for (var i in fields) {
        $$(fields[i]).set('value', 'Loading ...');
    };

};
function hide_loading() {};
function load_data(data) {
    var first_name = data['first_name'];
    var last_name = data['last_name'];
    var display_name = data['display_name'];
    var first_and_last_name = first_name + ' ' + last_name;
    var last_and_first_name = last_name + ' ' + first_name;
    $$('.data-first_name').set('value', first_name);
    $$('.data-last_name').set('value', last_name);
    var display_name_select = $('display_name-select');
    var display_name_opts = [first_and_last_name, first_name, last_and_first_name, last_name];
    function add_name_option(name, idx) {
        var opt = new Element('option', {
            value: name
        });
        opt.set('text', name);
        display_name_select.grab(opt);
        if (name == display_name) {
            opt.set('selected', 'selected');
        };
    };
    display_name_opts.each(add_name_option);
    var interests = data['interests'];
    var expertise = data['expertise'];
    var short_description = data['short_description'];
    $$('.data-display_name').set('text', display_name);
    $('data-interests').set('text', interests);
    $('data-expertise').set('text', expertise);
    $('edit_interests').set('value', interests);
    $('edit_expertise').set('value', expertise);
    $$('.short_description').set('value', short_description);
    $$('.data-short_description').set('text', short_description);
    var long_description = data['long_description'];
    $$('.data-long_description').set('html', long_description);
    $('long_description').set('text', long_description);
    var long_description_editor = new MooEditable('long_description', {
        actions: 'bold italic underline strikethrough | formatBlock justifyleft justifyright justifycenter justifyfull | smiley urlimage | insertunorderedlist insertorderedlist indent outdent insertHorizontalRule | undo redo removeformat | createlink unlink | urlimage | toggleview',
        dimensions: {x: '100%', y: '100%'}
    });
    long_description_editor.setContent(long_description);
};

var req = new JSONRequest({
    url: "/api/0.1/me/profile",
    onRequest: show_loading,
    onComplete: hide_loading,
    on_success: load_data
});
req.json_send();

function show_profile_saved() {};

function submit_profile() {
    var req = new JSONRequest({
        url: "/api/0.1/me/profile",
        on_success: show_profile_saved
    });
    req.postform('myprofileedit');
};

$('submit_profileedit').addEvent('click', submit_profile);

</script>

{% endblock %}
