{% extends "members/profile_layout.html" %}

{% block content %}

<script>
    
    function hideeditpage(){
        $('myprofileedit').hide();
        $('myprofilediv').show();
        $('socialmediv').show();
    };

    function showeditpage(){
        $('myprofileedit').show();
        $('myprofilediv').hide();
        $('socialmediv').hide();
    };

</script>

#myprofilediv.p2.dp50.rc.box-shadow
    h3.member-name
        c.data-display_name | Loading ...
        span.edit-link
            a onclick=showeditpage() | Edit
    > hr

    .p1.data-long_description
        Loading...
    > hr
    .p1
        .dp50.leftcol | Interests
        #data-interests.dp50.rightcol | Loading ...
    .p1
        .dp50.leftcol | Expertise
        #data-expertise.dp50.rightcol | Loading ...

{% include 'socialme.html' %}
       
#myprofileedit.p2.rc.box-shadow
    h3 | Edit Profile
    form#myprofileedit
        .hp
            fieldset
                legend | About me

                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Show name as
                    .dp75.ml2
                        > select#display_name-select name="display_name"
                .dp75.ml2.p1
                    .dp20.tr.boldtitle | First Name
                    .dp75.ml2
                        > input.text.data-first_name name=first_name type=text placeholder="First name"
                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Last Name
                    .dp75.ml2
                        > input.text.data-last_name name=last_name type=text placeholder="Last name"
                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Short Description
                    .dp75.ml2
                        > textarea.text.data-short_description name=short_description placeholder="Few words about you"

                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Description
                    .dp75.ml2
                        textarea#long_description.richtext name=long_description | Loading ...

                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Website
                    .dp75.ml2
                        > input.data-website.text type=url name=website placeholder=http://

                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Interests in
                    .dp75.ml2
                        > input#edit_interests.text type=text name=interests placeholder="Fields you are interested in"

                .dp75.ml2.p1
                    .dp20.tr.boldtitle | Expertise in
                    .dp75.ml2
                        > input#edit_expertise.text type=text name=expertise placeholder="Your expertise"

            fieldset
                legend | Social me
                {% for name in ('twitter', 'linkedin', 'facebook', 'blog') %}
                .dp75.ml2.p1
                    .dp20.tr.boldtitle | {{ name|capitalize }}
                    .dp30.ml2
                        > input.data-label-{{name}} type=text name={{name}} placeholder=Label
                    .dp40.ml2
                        > input.data-url-{{name}} type=url name={{name}} placeholder=URL
                {% endfor %}

        > hr

        .mt2.middlecol
            > div#submit_status
            button#submit_profileedit  type=button | Update
            button#reset  type=button | Reset
            button#cancel type=button onclick=hideeditpage() | Cancel
            > br
        > hr

<script>

var social_attrs = ['twitter', 'facebook', 'blog', 'linkedin'];
social_attrs.each(function (nw_name, idx) {
    $$('.' + nw_name + '-box').hide();
});

hideeditpage();

function show_loading() {
    var fields = [
        '.data-first_name',
        '.data-last_name'
    ];
    for (var i in fields) {
        $$(fields[i]).set('value', 'Loading ...');
    };

};

function show_social_link(data, nw_name) {
    var nw_data = data[nw_name];
    if (nw_data && nw_data[1]) {
        var box = $$('.' + nw_name + '-box')[0];
        box.getElements('a').each( function (elm, idx) {
            elm.set('href', nw_data[1]);
            elm.set('text', nw_data[0]);
        });
        box.show();
        $$('.data-url-' + nw_name).set('value', nw_data[1]);
        $$('.data-label-' + nw_name).set('value', nw_data[0]);
    };
};

function hide_loading() {};
function load_data(data) {
    var first_name = data['first_name'];
    var last_name = data['last_name'];
    var display_name = data['display_name'];
    var first_and_last_name = first_name + ' ' + last_name;
    var last_and_first_name = last_name + ' ' + first_name;
    $$('.data-first_name').set('value', first_name);
    $$('.data-last_name').set('value', last_name);
    var display_name_select = $('display_name-select');
    var display_name_opts = [first_and_last_name, first_name, last_and_first_name, last_name];
    function add_name_option(name, idx) {
        var opt = new Element('option', {
            value: name
        });
        opt.set('text', name);
        display_name_select.grab(opt);
        if (name == display_name) {
            opt.set('selected', 'selected');
        };
    };
    display_name_opts.each(add_name_option);
    var interests = data['interests'].join(', ');
    var expertise = data['expertise'];
    var short_description = data['short_description'];
    $$('.data-display_name').set('text', display_name);
    $('data-interests').set('text', interests);
    $('data-expertise').set('text', expertise);
    $('edit_interests').set('value', interests);
    $('edit_expertise').set('value', expertise);
    $$('.short_description').set('value', short_description);
    $$('.data-short_description').set('text', short_description);
    var long_description = data['long_description'];
    $$('.data-long_description').set('html', long_description);
    $('long_description').set('text', long_description);
    var long_description_editor = new MooEditable('long_description', {
        actions: 'bold italic underline strikethrough | formatBlock justifyleft justifyright justifycenter justifyfull | smiley urlimage | insertunorderedlist insertorderedlist indent outdent insertHorizontalRule | undo redo removeformat | createlink unlink | urlimage | toggleview',
        dimensions: {x: '100%', y: '100%'}
    });
    //long_description_editor.setContent(long_description);
    var website = data['website'];
    if (website) {
        $$('.data-website').set('text', website);
        $$('.data-website').set('value', website);
        $('website_link').set('href', website);
    } else {
        $$('.website-box').hide();
    };
    social_attrs.each(function (nw_name, idx) {
        show_social_link(data, nw_name);
    });
};

var req = new JSONRequest({
    url: "/api/0.1/me/profile",
    onRequest: show_loading,
    onComplete: hide_loading,
    on_success: load_data
});
req.json_send();

var submit_btn = $('submit_profileedit');
var submit_status = $('submit_status');

function show_profile_saved() {
    submit_btn.set('class', 'btn-success');
    submit_btn.set('text', 'Update');
    submit_status.set('text', 'Your changes have been saved.')
};

function show_saving() {
    submit_btn.set('class', 'btn-saving');
    submit_btn.set('text', "Saving...");
};

function submit_profile() {
    var req = new JSONRequest({
        url: "/api/0.1/me/profile",
        onRequest: show_saving,
        on_success: show_profile_saved
    });
    var data = collect_form_data('myprofileedit');
    if (data.interests) {
        data.interests = csv2array(data.interests)
    };
    req.json_send(data);
};

submit_btn.addEvent('click', submit_profile);

</script>

{% endblock %}
