{% extends "layout.html" %}

{% block tabs %}
    {{ macros.tabs(pubroot, [('About Me', '/members/myprofile'), ('Account', '/members/account'), ('Membership Information', '/members/membershipinfo'),('Contact Details','/members/contact'),('Billing','/members/billing'),('Preferences','/members/preferences'),('Security/Privacy','/members/security')]) }}
{% endblock %}

{% block content %}
    <div class="pl2 pr2 dp50 rc box-shadow">
    <h3 class="mt1">Security/Privacy</h3>
    <hr/>
    <form id="securityedit">		
        <table>
            <tr>
                <td class="leftcol-sp">Address</td>
                <td class="middlecol-sp"><textarea rows="2" cols="30" name="address" placeholder="address" /></textarea> </td>
                <td class="rightcol"> <!-- Have to convert this entire td into one common shared piece -->
                    <select>
                        <option value ="myself" title="Shared with only you">Myself</option>
                        <option value ="locationwide" title="Shared among all members of your location(s)">Location-wide</option>
                        <option value ="allhubs" title="Shared among all members of all Hubs">All hubs</option>
                        <option value ="public" title="Shared on your Hub website.">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">City</td>
                <td class="middlecol-sp"><input name="city" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Country</td>
                <td class="middlecol-sp"><input name="country" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Postcode</td>
                <td class="middlecol-sp"><input name="postcode" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Fax</td>
                <td class="middlecol-sp"><input name="fax" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Mobile</td>
                <td class="middlecol-sp"><input name="mobile" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
            </td>
            </tr>
            <tr> <td></td><td class="specific"><em>(please include international dialing code)</em></td><td></td> </tr>
            <tr>
                <td class="leftcol-sp">Work Phone</td>
                <td class="middlecol-sp"><input name="work" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr><td></td> <td class="specific"><em>(please include international dialing code)</em></td><td></td> </tr>
            <tr>
                <td class="leftcol-sp">Home Phone</td>
                <td class="middlecol-sp"><input name="home" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr><td></td> <td class="specific"><em>(please include international dialing code)</em></td><td></td> </tr>
            <tr>
                <td class="leftcol-sp">Primary Email</td>
                <td class="middlecol-sp"><input name="email1" type="email"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Secondary Email</td>
                <td class="middlecol-sp"><input name="email2" type="email"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Additional Email</td>
                <td class="middlecol-sp"><input name="email3" type="email"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td class="leftcol-sp">Website</td>
                <td class="middlecol-sp"><input name="website" type="url"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>	
                <td class="leftcol-sp">Internet Phone (SIP id)</td>
                <td class="middlecol-sp"><input name="sip_id" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
            <tr>	
                <td class="leftcol-sp">Skype name</td>
                <td class="middlecol-sp"><input name="skype_id" type="text"></td>
                <td class="rightcol">
                    <select>
                        <option value ="myself">Myself</option>
                        <option value ="locationwide">Location-wide</option>
                        <option value ="allhubs">All hubs</option>
                        <option value ="public">Public</option>
                    </select> 
                </td>
            </tr>
        </table>	
        <hr/>
        <div class="middlecol">
            <button id="submit_contactedit" type="submit">Update</button>
            <button id="reset" type="reset">Reset</button>
            <button id="cancel" type="button">Cancel</button>
        </div>
        <hr/>
    </form>
    </div>
    {% include 'socialme.html' %}

{% endblock %}
