body { 
    font-family: verdana,helvetica,arial,sans-serif;
    font-size: {{ page_font_size }};
    background: {{ page_bg }};
}
h1 { text-shadow: 0px 1px 1px #FFFFFF; }
h2 { text-shadow: 1px 1px 1px ; }
h3 { color:#F0C030; }
h1, h2, h3, h4, h5 { color:#F0C030; font-family: verdana,helvetica,arial,sans-serif; }
hr { 
    border: 1px solid {{ page_bg }};
    margin-left: 1em;
    margin-right: 1em;
}
a{
    font-size: 1.1em;
    color: inherit;
    text-decoration:underline;
    padding:3px;
    cursor: pointer;
    text-decoration: none;
    border-radius:5px;
    text-shadow: 1px 1px 0px gray;
}
a:hover {
    text-decoration:none;
    text-shadow: 0px 1px 1px #FFFFF0;
}
.edit-link {
    font: lighter small Verdana, Arial, 'MS Sans Serif';
    color: #000000;
    margin-right:10px;
    float: right;
 }
label {
    text-align: right;
}
fieldset {
    padding: 1em;
    border: 0.1em solid {{ page_bg }};
}
legend {
    text-align: left;
    text-shadow: 1px 1px 0px gray;
    font-size: 1.3em;
    padding: 0.5em;
    background: {{ page_bg }};
    color: {{footer_color}};
    border: 1px solid {{ main_bg_end }};
}
button {
    margin: 0.5em;
    padding: 0.3em;
    font-size: 1.3em;
    color: {{ footer_color }};
    background: {{ main_bg_start }};
    border: 1px solid {{ page_bg }};
}
button:hover {
    background: {{ page_bg }};
    text-shadow: 1px 1px 0px gray;
    font-weight: bold;
}
select {
    background: {{ main_bg_start }};
    color: {{ main_bg_end }};
}
option {
    background: {{ main_bg_start }};
    color: {{ main_bg_end }};
}
form td { 
    padding: 0.5em;
}
form input, 
form textarea {
    padding: 0.5em;
    background: {{ textarea_bg }};
    border-radius:5px;
    width: 90%;
}

/* TODO remove showdiv and hidediv */
div.showdiv  { 
    visibility:visible;
    position:relative;
}
div.hidediv  { 
    visibility:hidden;
    position:absolute;
}

.b { 
    font-size: 1.10em;
    letter-spacing:0.1em; 
    font-weight: bold;
}
.boldtitle { text-shadow: 1px 1px 0px gray; }

/*table into div */
.leftcol {
    float: left;
    margin-left: inherit;
}
.middlecol {
    float: center;
    text-align: center
}
.rightcol {
    float: right;
    margin-right: inherit;
}
.leftcol-sp {
    float: left;
    margin-left: 10%;
}
.middlecol-sp {
    float: center;
    text-align: left;
    width: 65%;
}
.rightcol-sp {
    float: right;
    margin-right: 10%;
    text-align: center;
}
.specific {
    float: left;
    text-align: left;
}
.socialnw-input {
    width: 50%;
    float: left;
}
.socialnw-select {
    width: 40%;
    float: right;
}
/* emastic leftover */

.pr1 {padding-right:1em;}
.pr2 {padding-right:2em;}
.pr3 {padding-right:3em;}
.pb2 {padding-bottom:2em;}
.pb3 {padding-bottom:3em;}
.ml1{margin-left:1em;}
.ml2{margin-left:2em;}
.mt2{margin-top:2em;}
.mt3{margin-top:3em;}
.mt4{margin-top:4em;}
.mr1{margin-right:1em;}
.mr2{margin-right:2em;}
.mb5{margin-bottom:5em;}
.dl11{float:left; width:11em;}

.p2 { 
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
    
.p1 { 
    padding: 1em;
}
.p05 { 
    padding: 0.5em;
}

/* classes */
.page { 
    width: 95%;

}
.topbar {
    background: topbar_bg;
}
.around {
    color:#ddd;
    background: {{ nav_bg_start }};
    background: linear-gradient(top, {{ nav_bg_start }}, {{ nav_bg_end }});
    background: -moz-linear-gradient(top, {{ nav_bg_start }}, {{ nav_bg_end }});
    background: -webkit-gradient(linear, left top, left bottom, from({{ nav_bg_start }}), to({{ nav_bg_end }}));
    background: -o-linear-gradient(top, {{ nav_bg_start }}, {{ nav_bg_end }});
} 
.slogan { 
    color: {{ slogan_color }};
    font-weight: italic;
}
.toplinks { color: {{ toplinks_color }}; }
.main {
    /* background-image:url('/images/canvas.jpg'); */
    background: linear-gradient(top, {{ main_bg_start }}, {{ main_bg_end }}); 
    background: -moz-linear-gradient(top, {{ main_bg_start }}, {{ main_bg_end }}); 
    background: -webkit-gradient(linear, left top, left bottom, from({{ main_bg_start }}), to({{ main_bg_end }}));
    background: -o-linear-gradient(top, {{ main_bg_start }}, {{ main_bg_end }});
    border-radius:5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.box-shadow { 
    margin: 0.5em;
    box-shadow:10px 10px 20px #000000;
    border: 1px;
}

.search-box {
    font-weight:bold;
    color:#ddd;
    background: {{ searchbox_bg }};
    border-color: {{ main_bg_start }};
    border-radius:10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0em;
}
.search-text {
    border: 0px;
    border-color: {{ page_bg }};
    background: {{ main_bg_end }};
    border-radius:10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding:0.5em;
    padding-right:0em;
}
.search-btn {
    border: 0px;
    background: {{ page_bg }};
    color: {{ main_bg_end }};
    border-radius:10px;
    border-color: {{ page_bg }};
    border-radius:10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding:0.5em;
    padding-left:0em;
    margin: 0.0em;
    font-size: 1em;
}
.tab-open {
    border:1px solid black;
    color: {{ tab_open_color }};
    border-bottom: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    border-radius:5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tab-closed {
    color: {{ tab_closed_color }};
    background: {{ tab_closed_bg }};
    border:1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-left: 1px;
    border-radius:5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    text-shadow: 1px 0px 0px gray;
}

.rightsidebar {
    width: 15%;
    position: absolute;
    right: 5%;

    display: box;
    box-pack: right;
    box-align: right;
}   

.profilepic {
    width: 15em;
    height: 15em;
}

.socialme-logo {
    width: 2em;
    height: 2em;
}

.navheader {
    color: white;
    position:fixed;
    width:11em;
    height:1.2em;
    padding: 0.5em;
    margin-top: 9em;
    margin-left: -7em;
    transform: rotate(-90deg);
    border: 0.5px solid gray;
    border-bottom: 0 solid gray;
    border-radius:5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.richtext {
    height: 40em;
    width: 40em;
    padding:0px;
}
.engrave { text-shadow: 0px 0px 1px black; }
.invisible { display: none; }
.red { color: red; }
.feeds a { color: black; }
.highlight { 
    color: #001200;
    background: gray;
}
.tag {
    padding: 1px;
    font-size: .90em;
    border: 1px solid black;
    text-shadow: 0px 0px 1px gray;
}
.tag-1 { 
    color: white;
    background: blue;
}
.tag-2 { 
    color: #001200;
    background: orange;
}
.tag-3 { 
    color: #001200;
    background: gray;
}
.tag-4 { 
    color: white;
    background: #133300;
}
.tag-5 { 
    color: white;
    background: teal;
}
.comm-status {
    border: 1px solid black;
    font-size: 1.20em;
    font-weight: italic;
    position:fixed;
    top: 7em;
    left: 50%;
    text-align: middle;
    background: {{ loading_bg }};
    color: {{ loading_color }};
}
.footer {
    border: 1px solid gray;
    border-bottom: 0px;
    color: {{ footer_color }};
    background: {{ footer_bg }};
    bottom: 0em;
    width: 95%;
    position: fixed;
    border-radius:10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.toplink_opts {
    font-weight:bold;
    width: 10em;
    color: {{ footer_color}};
    border: 2px solid gray;
    position:absolute;
    z-index: 100;
    padding: 2em;
    opacity: 0.9;
    text-align: left;
    display: none;
}
.toplink { 
    float:right; 
    z-index:  100; 
    position: relative;
    color: {{ footer_color }};
    margin: 0.3em;
}
.toplink-showing {
    float:right; 
    background: {{ main_bg_start }};
}
.toplink-opts-showing {
    color: {{ footer_color }};
    background: {{ main_bg_start }};
    float:left; 
    width: 10em;
    position: absolute; 
    padding: 1em; 
    display: block;
}
.hidden {
    display: none;
}
.datebox-date {
    color: {{ footer_color }};
    font-weight:bold;
    margin: 0;
    padding: 0;
}
.datebox-year {
    border: 0px;
    border-bottom: 1px solid {{ footer_color }};
    margin: 0;
    padding: 0;
}
.datebox {
    width: 5em;
    border: 1px dashed {{ footer_bg }};
    color: {{ footer_color }};
    background : {{ main_bg_start }};
    /*
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg);
    */
    opacity: 0.5;
    margin: 1em;
    padding: 0px;
    text-align: center;
    top: 1em;
    float: right;
    width: 6em;
}
.feedbox-title {
    float: right;
    margin-right: 1em;
    color: {{ footer_color }};
    background : {{ page_bg }};
    opacity: 0.8;
    padding: 0.4em;
    border-radius: 0.7em;
    border-radius: 0.7em;
    text-shadow: 0px 1px 0px #FFFFFF;
}
.login-main {
    align: center;
    color: {{ main_bg_end }};
    height: 20em;
    margin-top: 10%;
    margin-left: 10%;
}
.login-box { 
    border: 0.4em solid {{ main_bg_end }};
    color: {{ main_bg_end }};
    background: {{ main_bg_start }};
    opacity: 0.8;
    margin-top: 10em;
    margin-left: 3em;
}
.signup-box { 
    border: 0.4em solid {{ main_bg_end }};
    color: {{ main_bg_end }};
    background: {{ main_bg_start }};
    opacity: 0.8;
    margin-left: 3em;
    margin-top: 2em;
    padding: 1em;
}

.login-form { 
    margin: 2em;
    padding: 1em;
    margin-bottom: 5em;
}
.login-field {
    margin-bottom: 2em;
    color: black;
}
.login-btn {
    background: {{ main_bg_end }};
    padding: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border: 0px;
    border-radius: 0.7em;
    color: {{ main_bg_start }};
    font-weight:bold;
}
.signup-btn {
    background: {{ main_bg_start }};
    padding: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border: 1em thick gray;
    border-radius: 0.7em;
    color: {{ main_bg_end }};
    font-weight:bold;
}

.login-error {
    color: red;
    margin: 1em;
}
.big-choice-box {
    text-shadow: 0px 0px 1px black;
    border-radius: 0.7em;
    padding: 1em;
    margin: 1em;
    box-shadow:10px 10px 20px #000000;
    border: thick gray;
}
.bg-orange {
    color: black;
    background: orange;
}
.bg-yellow {
    color: black;
    background: yellow;
}
.bg-green {
    color: black;
    background: {{ page_bg }};
}
.bg-blue{
    color: black;
    background: blue;
}
.bg-gray {
    color: black;
    background: gray;
}
.member-name {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
}
.feed-date {
    opacity: 0.5;
    background: {{ page_bg }};
    color: {{ footer_color }};
    padding-left: 1em;
    font-weight:bold;
    float: left;
    width: 28%;
    text-align: left;
    text-shadow: 0px 0px 1px black;
    margin: 0.5em;
    box-shadow:10px 10px 20px #000000;
    border: 1px;
    display: inline;
    width: 10em;
}
.MooDialog {
    position: fixed;
    z-index: 50000;
    padding: 0.7em;
    background: {{ main_bg_end }};
}
.popup-form {
    color: {{ footer_color }};
    background: {{ page_bg }};
    top: 20%;
    left: 20%;
    bottom: 10%;
    /* overflow:scroll; */
    opacity: 0.9;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}
.formborder {
    border: 0.5em solid {{ main_bg_end }};
}
.bio {
    white-space: pre-wrap;
}
.btn-link {
    background: {{ page_bg }};
    color: {{ footer_color }};
    border: 0.1em solid {{ main_bg_end }};
}
.btn-link:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}
.btn-saving {
    background: linear-gradient(top, orange, {{ main_bg_end }}); 
    background: -moz-linear-gradient(top, orange, {{ main_bg_end }}); 
    background: -o-linear-gradient(top, orange, {{ main_bg_end }});
    background: -webkit-gradient(linear, left top, left bottom, from(orange), to({{ main_bg_end }}));
}
.btn-success {
    background: {{ main_bg_start }};
}
.circle {
    border: 0.4em solid {{ main_bg_start }};
    font-size: 1.5em;
    border-radius: 3em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    text-align: center; 
}
.circle-text {
    font-size: 1.5em;
    font-weight: bold;
}
.circle-dark {
    background: {{ main_bg_start }};
    font-size: 1.2em;
    border-radius: 3em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    text-align: center; 
    display: inline-table;
    opacity: 0.35;
}
.circle-dark-text {
    color : {{ footer_color }};
    font-size: 1.7em;
    font-weight: bold;
}
.circle-current {
    opacity: 0.85;
}
#search,#search2 { 
    border:1px solid #ccc; padding:6px;
}
ul.autocompleter-choices  { 
    position:absolute;
    list-style:none;
    z-index:50;
    background:{{main_bg_start}};
    border:1px solid {{main_bg_end}};
    top:0; 
}
ul.autocompleter-choices li {
    margin:0;
    list-style:none;
    padding:0px 1em;
    border-bottom:0.1em dotted {{ main_bg_end }};
    cursor:pointer;
    font-weight:normal;
    white-space:nowrap;
    color:#fff;
    font-size:1em;
}
ul.autocompleter-choices li:hover {
    background:{{ main_bg_end}}; 
    color:{{main_bg_start}}; 
}
.search-working { background:url(/images/loading.gif) 18em 0.5em no-repeat; }
