body { 
    font-size: 13px;
    background: #001200;
}
h1 { color: white; text-shadow: 0px 1px 1px #FFFFFF; }
h3 { color:#F0C030; }
p { color:#ddd; }
hr {color:black;}
.main { 
    width: 95em;

}
.topbar {
    background: #001200;
}
.around {
    color:#ddd;
    background: #001200;
    background: -moz-linear-gradient(top, #001200, #000000);
    background: -webkit-gradient(linear, left top, left bottom, from(#001200), to(#000));
} 
.slogan {
    color: white;
}
.content {
    background: -moz-linear-gradient(top, #133300, #fffff0); 
    background: -webkit-gradient(linear, left top, left bottom, from(#133300), to(#FFF));
}
a{
    color:#ddd;
    text-decoration:underline;
    padding:3px;
    cursor: pointer;
    text-decoration: none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
a:visited {
    color:#aaa;
}
a:hover {
    text-decoration:none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    text-shadow: 0px 1px 1px #FFFFF0;
}

.pr1 {padding-right:1em;}
.pr2 {padding-right:2em;}
.pr3 {padding-right:3em;}
.mt2{margin-top:2em;}
.mt3{margin-top:3em;}
.mt4{margin-top:4em;}

.p2 { 
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
    
.p1 { 
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.box-shadow { 
    box-shadow:10px 10px 20px #000000;
    -moz-box-shadow:10px 10px 20px #000000; 
    border: none;
}

.tabs {
    font-weight:bold;
    color:#ddd;
    background: #133300;
}
.tab-open {
    border:1px solid black;
    font-weight:bold;
    color: black;
    border-bottom: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
}
.tab-closed {
    background: #001200;
    font-weight:bold;
    border:1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-left: 1px;
    -moz-border-radius:5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius:5px;
}
.tabs2 {
    text-align:left;
    border-bottom: 1px solid black;
}
.tab2-open {
    border:1px solid black;
    color: black;
    border-bottom: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    margin-bottom: 2px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
}
.tab2-closed {
    font-weight:bold;
    background: #133300;
    border:1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-left: 1px;
}

