.setup-main {
    align: center;
    color: {{ main_bg_end }};
    height: 20em;
    margin-top: 10%;
    margin-left: 10%;
}
.setup-box { 
    border: 0.4em solid {{ main_bg_end }};
    color: {{ main_bg_end }};
    background: #ffffff;
    opacity: 0.8;
    margin-top: 10em;
    margin-left: 3em;
}

.setup-form { 
    margin: 2em;
    padding: 1em;
    margin-bottom: 5em;
}
.setup-field {
    margin-bottom: 2em;
    color: black;
}
.setup-btn {
    background: {{ main_bg_end }};
    padding: 0.7em;
    padding-left: 2em;
    padding-right: 2em;
    border: 0px;
    border-radius: 0.7em;
    color: {{ main_bg_start }};
    font-weight:bold;
}

.setup-error {
    color: red;
    margin: 1em;
    background-color: #789012;
}
